body {
    font-family: barlow;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    text-align: center;
}

#logo {
    width: 75px;
    height: auto;
}

.menuIcon {
    position: absolute;
}

.menuIcon div {
    width: 30px;
    height: 4px;
    background-color: dimgray;
    margin: 6px 0;
}

#myImage {
    height: 40px;
    width: auto;
}

.element {
    transform: rotate(90deg);
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*form*/
.content {
    position: relative;
    display: block;
    margin: 0;
    padding: 16px 0 32px;
    padding: 1rem 0 2rem;
    border-top: 1px solid #cdcfcf;
    border-bottom: 1px solid #cdcfcf;
}

.content,
.results {
    width: 80vw;
    max-width: 500px;
    margin: 8vw auto;
}

.block {
    display: block;
    margin-top: 0;
    padding: 8px 12px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cdcfcf;
    font-family: barlow;
    width: 94%;
    font-size: 1rem;
    transition: 150ms border-color linear;
}

.content button {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    background-color: #686a69;
    border: 0;
    color: #f9fdfe;
    font-family: barlow;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 150ms all linear;
}

.blockNoLine {
    display: block;
    margin-top: 0;
    padding: 8px 12px;
    padding: 0.5rem 0.75rem;
    font-family: barlow;
    width: 100%;
    font-size: 1rem;
    transition: 150ms border-color linear;
}

/*Pre-Surgery Questionare*/
.slideContainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;

    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    /* Slider handle height */
    background: #3CCED1;
    cursor: pointer;
    /* Cursor on hover */

}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    /* Slider handle height */
    background: #3CCED1;
    cursor: pointer;
    /* Cursor on hover */
}

/*front Page with option of login or signup*/
#appStart #logo{
    height: 150px;
    width: auto;
    background-color: #F4F3EF;
    border-radius: 50%;
    margin-top: 5em;
}
#appStart a{
    display: block;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    border: 0;
    font-family: barlow;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 150ms all linear;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #3CCED1;
    text-decoration: none;
}
#appStart a:link{
    color: #f9fdfe;
}
#appStart a:visited{
    color: #f9fdfe;
}
#appStart a:hover{
    color: black;
}